<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Eitan Saville. 16 years old, living in Jerusalem</h1>
<br>
<br>

<form action = '/' method = 'POST'>
	<input type="text" name = 'fq' placeholder="Favorite Quote"> 
	<input type="text" name = "q" placeholder="Quote's Author"> 
	<input type="text" name = "aa" placeholder="Author's Age"> 

	<input type="submit" value="Submit Your Form">
</form>

</body>
</html>